<div class="color-line"></div>
<div class="back-link"><a routerLink="/content" class="btn btn-primary">Back to Dashboard</a></div>
<div class="login-container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center m-b-md"><h3>PLEASE LOGIN TO APP</h3>
        <small>This is the best app ever!</small>
      </div>
      <div class="hpanel">
        <div class="panel-body">
          <form action="#" id="loginForm">
            <div class="form-group"><label class="control-label" for="username">Username</label> <input
              type="text" placeholder="example@gmail.com" title="Please enter you username" required
              value="" name="username" id="username" class="form-control"> <span
              class="help-block small">Your unique username to app</span></div>
            <div class="form-group"><label class="control-label" for="password">Password</label> <input
              type="password" title="Please enter your password" placeholder="******" required
              value="" name="password" id="password" class="form-control"> <span
              class="help-block small">Yur strong password</span></div>
            <div class="checkbox"><input icheck type="checkbox" ng-model="remember"
                                         ng-init="remember = true"> Remember login <p
              class="help-block small">(if this is a private computer)</p></div>
            <button class="btn btn-success btn-block">Login</button>
            <a class="btn btn-default btn-block" href="#">Register</a></form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center"><strong>HOMER</strong> - AngularJS Responsive WebApp <br> 2015 Copyright
      Company Name
    </div>
  </div>
</div>
