<div class="content">
  <h3>Dashboard:{{para}}</h3>
  <div class="row">
    <div class="col-md-3">
      <div class="hpanel hbggreen">
        <div class="panel-body">
          <div class="text-center"><h3>Title text</h3>
            <p class="text-big font-light"> 20 </p>
            <small> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="hpanel hbgblue">
        <div class="panel-body">
          <div class="text-center"><h3>Title text</h3>
            <p class="text-big font-light"> 160 </p>
            <small> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="hpanel hbgyellow">
        <div class="panel-body">
          <div class="text-center"><h3>Title text</h3>
            <p class="text-big font-light"> 750 </p>
            <small> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="hpanel hbgred">
        <div class="panel-body">
          <div class="text-center"><h3>Title text</h3>
            <p class="text-big font-light"> 0,43 </p>
            <small> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <div class="hpanel">
        <div class="panel-body text-center h-200"><i class="pe-7s-graph1 fa-4x"></i>
          <h1 class="m-xs">$1 206,90</h1>
          <h3 class="font-extra-bold no-margins text-success"> All Income </h3>
          <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.</small>
        </div>
        <div class="panel-footer"> This is standard panel footer</div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="hpanel stats">
        <div class="panel-body h-200">
          <div class="stats-title pull-left"><h4>Users Activity</h4></div>
          <div class="stats-icon pull-right"><i class="pe-7s-share fa-4x"></i></div>
          <div class="m-t-xl"><h3 class="m-b-xs">4 210,160</h3> <span class="font-bold no-margins"> Social users </span>
            <!--<progressbar value="55" type="success" class="m-t-xs full progress-small"></progressbar>-->
            <div class="row">
              <div class="col-xs-6">
                <small class="stats-label">Pages / Visit</small>
                <h4>7.80</h4></div>
              <div class="col-xs-6">
                <small class="stats-label">% New Visits</small>
                <h4>76.43%</h4></div>
            </div>
          </div>
        </div>
        <div class="panel-footer"> This is standard panel footer</div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="hpanel stats">
        <div class="panel-body h-200">
          <div class="stats-title pull-left"><h4>Page Views</h4></div>
          <div class="stats-icon pull-right"><i class="pe-7s-monitor fa-4x"></i></div>
          <div class="m-t-xl"><h1 class="text-success">860k+</h1> <span
            class="font-bold no-margins"> Social users </span>
            <br>
            <small> Lorem Ipsum is simply dummy text of the printing and <strong>typesetting
              industry</strong>. Lorem Ipsum has been.
            </small>
          </div>
        </div>
        <div class="panel-footer"> This is standard panel footer</div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="hpanel stats">
        <div class="panel-body h-200">
          <div class="stats-title pull-left"><h4>Today income</h4></div>
          <div class="stats-icon pull-right"><i class="pe-7s-cash fa-4x"></i></div>
          <div class="clearfix"></div>
          <div class="flot-chart">
            <!--<div flot class="flot-chart-content" dataset="chartIncomeData"
                 options="chartIncomeOptions"></div>-->
          </div>
          <div class="m-t-xs">
            <div class="row">
              <div class="col-xs-5">
                <small class="stat-label">Today</small>
                <h4>$230,00 </h4></div>
              <div class="col-xs-7">
                <small class="stat-label">Last week</small>
                <h4>$7 980,60 <i class="fa fa-level-up text-success"></i></h4></div>
            </div>
          </div>
        </div>
        <div class="panel-footer"> This is standard panel footer</div>
      </div>
    </div>
  </div>
</div>
