<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Beidou--login</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <!--<div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            &lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;
            <div class="navbar-header">
                <a href="#" class="navbar-brand main-menu">Admin System</a>
                &nbsp;&nbsp;
                <ul class="nav navbar-nav text-center">
                    <li *ngFor="let router of routers" [ngClass]="{active:router.active}"><a routerLink="{{router.href}}">{{router.name}}</a></li>
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right main-menu text-center">
                <li><a>Welcome! {{hello}}</a></li>
            </ul>
        </div>
    </nav>
</div>-->
<div id="header">
    <div class="color-line"></div>
    <div id="logo" class="light-version"><span> Homer Theme </span></div>
    <nav role="navigation">
        <div class="small-logo"><span class="text-primary">HOMER APP</span></div>
        <form role="search" class="navbar-form-custom" method="post" action="#">
            <div class="form-group"><input type="text" placeholder="Search something special" class="form-control"
                                           name="search"></div>
        </form>
        <div class="mobile-menu">
            <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse"
                    data-target="#mobile-collapse"><i class="fa fa-chevron-down"></i></button>
            <div class="collapse mobile-navbar" id="mobile-collapse">
                <ul class="nav navbar-nav">
                    <li><a >Login</a></li>
                    <li><a >Logout</a></li>
                    <li><a >Profile</a></li>
                </ul>
            </div>
        </div>
        <div class="navbar-right">
            <ul class="nav navbar-nav no-borders">
                <li class="dropdown"><a ui-sref="common.login"> <i class="pe-7s-upload pe-rotate-90"></i> </a></li>
            </ul>
        </div>
    </nav>
</div>

<aside id="menu">
    <div id="navigation" >
        <ul class="nav" id="side-menu">
            <li *ngFor="let router of routers" [ngClass]="{active:router.active}"><a routerLink="{{router.href}}">{{router.name}}</a></li>
        </ul>
    </div>
</aside>

<div id="wrapper">
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>


</body>
    
</html>
